.quizCard{
    height: 90%;
    max-width: 65vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid green;
    background-color: rgb(246, 244, 244);
    border-radius: 12px;

}
.cardLeft{
color: black;
    flex: .6;
    font-size: 12px;
    font-weight: normal;
    flex: .6;
    padding-left: 20px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardRight{
    flex-wrap: wrap;
    height: 100%;
flex: .4;
display: flex;
}