.showResult{
    height: 70vh;
    width: 65vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 3px solid pink; */
    background-color: rgb(246, 244, 244);
    border-radius: 12px;
    flex-direction: column;
}
.date{
    align-self: flex-end;
    margin: 20px;
    text-decoration: underline;
    flex: .25;
}
.userDetails{
    flex: .75;
    padding: 20px;
}