.welcome{
    height: 70%;
    width: 65%;
    display: flex;
    align-items: center;
    /* border: 2px solid green; */
    border-radius: 18px;
    background-color: rgb(246, 244, 244);
}
.welcomeLeft
{
    height: 100%;
    flex: .30;
}
.welcomeRight{
    height: 100%;
    flex:.70;
    padding: 60px 20px 40px 20px;
}
.userForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}